@property --100vw {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --process {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}



/*Root*/
:root {
  --red: #de3333;
  --dark-red: #BA2B2B;
  --yellow: #f0d160;
  --gold: #D1B654;

  --fair-font: "Playfair Display", serif;
  
/*  Variables voor op en neer gaan.  */
   --duration-per-1000-px: 6s;
  --frequency-per-1000-px: 3;
  --amplitude: 1em;
  --duck-width: 8em;
  --duck-top: 0;
  
  --100vw: 100vw;
  --px-width: tan(atan2(var(--100vw), 1px));
  --duration: calc(var(--px-width) / 1000 * var(--duration-per-1000-px));
}

* {
  font-family: var(--fair-font);
  font-style: Italic;
  font-weight: 800;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: var(--red);
  border: 0.25em solid var(--gold);
  box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.34);

  z-index: 4;

  color: white;
}

h1 {
  background-color: var(--yellow);
  border: 0.25em solid var(--gold);
  padding: 0.5em;
  margin-top: 0.12em;
}

/*Animation omvallen*/

body {
  margin: 0;
  counter-reset: game;
  overflow:hidden;
  background-image: repeating-conic-gradient(var(--red) 0deg, var(--red) 20deg, var(--yellow) 20deg, var(--yellow) 40deg);
}

form {
  cursor: url('./Afbeeldingen/target-scope.png') 16 16, crosshair;
  /* https://www.svgbackgrounds.com/elements/custom-css-cursors/  */
  
  height: 100%;
}


fieldset {
  height: 8em;
  width:fit-content;
  display: flex;
  align-items: center;
  
  animation-name: MoveBackandForth;
  animation-duration: 22s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  border: none;
}

label {
  position:relative;
  z-index: 0;
  
  width: 5em;
  height: 5em;
  display:block;
  margin: 2em;
  
  transition: 2s;
  transform-origin: bottom;
  
  top: calc(var(--amplitude) + var(--duck-top));
  animation: 
    move var(--duration) linear infinite,
    process var(--duration) linear infinite;
  
    transform: translateY(calc(
      sin(var(--process) / 500 * pi * var(--frequency-per-1000-px)) * var(--amplitude)
    )); 
}

@keyframes process {
  from {
    --process: 0;
  }
  to {
    --process: var(--px-width);
  }
}

img {
  display:block;
  width: 100%;
  height: 100%;

  user-select: none;
}

fieldset label:has(input:checked) {
  transform:perspective(20em) rotateX(90deg);
}

input {
  appearance:none;
  
  position:absolute;
  inset:0;
    
  margin:0;
}

input[type="radio"] {
  cursor: url('./Afbeeldingen/target-scope.png') 16 16, crosshair;
 
}

/*Animation back and forth*/

@keyframes MoveBackandForth {
   0% {
    transform: translateX(-100%) scaleX(-1); 
  }

  50% {
    transform: translateX(calc(100vw)) scaleX(-1); 
  }
  50.01% {
    transform: translateX(calc(100vw)); 
  }

  100% {
    transform: translateX(-100%); 
  }
}

fieldset:nth-of-type(2) {
  animation-duration: 14s;
}

fieldset:nth-of-type(3) {
  animation-duration: 18s;
}

/* Counter */
input:checked {
  counter-increment: game;
}

h3::after {
  content: counter(game);
}



h3 {
  background-color: red;
  border: 0.25em solid var(--dark-red);
  box-shadow: 0 6px 8px 10px rgba(0, 0, 0, 0.1);

  padding: 1.25em;

  color: white;
  font-size: 1.17em;
}

button {
  background-color: red;
  border: 0.25em solid var(--dark-red);
  box-shadow: 0 6px 8px 10px rgba(0, 0, 0, 0.1);

  padding: 1.25em;

  color: white;
  font-size: 1.17em;

  cursor: pointer;
}

/* Oude mannen knop */
div label{
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;
  border: 0.25em solid var(--dark-red);
  box-shadow: 0 6px 8px 10px rgba(0, 0, 0, 0.1);

  color: white;
  font-size: 1.17em;
  width: 9.5em;
  height: 3.8em;

  cursor: pointer;
  animation: none;
  
  top: 0.25em;
  z-index: 1;
}

form:has(input[type="checkbox"]:checked) fieldset {
  animation-duration: 27s;
}
/* Met behulp van chatgpt de selector gemaakt*/

form:has(input[type="checkbox"]:checked) fieldset:nth-of-type(2) {
  animation-duration: 22s;
}
/* :nth-of-type(2) toegevoegd zodat de tweede fieldset nog steeds sneller gaat en niet beide rijen gelijk bewegen */

form:has(input[type="checkbox"]:checked) fieldset:nth-of-type(3) {
  animation-duration: 25s;
}



/* Opmaak speelkraam */

div {
  
  box-shadow: 0 4px 6px 8px rgba(0, 0, 0, 0.1);
}

form div:nth-last-of-type(5) {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
  
   background-image:repeating-linear-gradient(to right, var(--red), var(--red) 5%, white 5%, white 10%);
   border: 0.5em solid var(--gold);
   
   padding: 0.5em;
   position:relative;
   z-index: 2;
   width: 100%;
}

form div:nth-last-of-type(4) {
  position:absolute;
  right: -1em;
  top:0;
  height: 100%;
  width: 12em;
  border-radius: 10% 100% 0% 100% / 0% 0% 100% 100% ;
  
  background-image: repeating-linear-gradient(80deg, #8F2121 0%, #de3333 5%, #de3333 10%);
  box-shadow: -14px 18px 5px -1px rgba(0,0,0,0.34);
}

form div:nth-last-of-type(3) {
  position:absolute;
  left: -1em;
  top:0;
  height: 100%;
  width: 12em;
  border-radius: 10% 51% 91% 10% / 0% 0% 100% 0% ;
  /* https://9elements.github.io/fancy-border-radius/full-control.html#0.10.0.100-0.0.0.100-. */
  
  background-image: repeating-linear-gradient(280deg, #8F2121 0%, #de3333 5%, #de3333 10%);
  box-shadow: 14px 18px 5px -1px rgba(0,0,0,0.34)
}


form div:nth-last-of-type(2) {
  position:absolute;
  right:0;
  top:0;
  height: 100%;
  width: 3.5em;

  background-color: brown;
  border: 1px solid black;

  z-index: 3;
}

form div:nth-last-of-type(1) {
  position:absolute;
  left:0;
  top:0;
  height: 100%;
  width: 3.5em;

  background-color: brown;
  border: 1px solid black;

  z-index: 3;
}